body {
  margin: 0;
  font-family: Calibri;
}

.connect_button {
  background-color: orange;
  color: white;
  border: 2px solid orange;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 20px;
  font-size: 14pt;
}

.connect_button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.container_main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lp_content {
  display: flex;
  justify-content: center;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
}

.verificationForm {
  margin: 40px 0;
  width: 100%;
}

.lp_heading {
  margin-top: 5vw;
}

.verificationForm label {
  font-size: 20pt;
}

.verificationForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid orange;
  border-radius: 10px;
  font-size: 16pt;
}

.verificationForm input[type=text]:focus {
  background-color: #eee;
  border: 4px solid orange;
  text-decoration: none;
  outline: none;
}

.lp_button button {
  transition-duration: 0.4s;
  background-color: orange;
  color: white;
  border: 2px solid orange;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16pt;
}

.lp_button button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.output p {
  font-size: 18pt;
}
